<header class="topnav" #myTopnav id="myTopnav">
  <a [routerLink]="['']">Vallambar Matrimony</a>
  <nav>
    <a [routerLink]="['registration']">Registration</a>
    <a [routerLink]="['signin']">Sign In</a>
    <a [routerLink]="['help']">Help</a>
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">
      <img src="./../assets/images/menu.svg">
    </a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>© 2000 - 2024 Universal Vallambar Matrimony</footer>