:host ::ng-deep {
    button.p-button {
        background: #1b5752;
        border-color: #1b5752;;
    }

    .p-selectbutton .p-button.p-highlight {
        background: #1b5752;
        border-color: #1b5752;
        color: #ffffff;
    }

  .p-stepper .p-stepper-header.p-highlight .p-stepper-number {
      background: #fff179 !important;
      color: #1b5752 !important;
  }

  .p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator {
    background-color: #22ae06 !important;
  }

  .p-stepper .p-stepper-separator {
    background-color: lightgray !important;
  }

  .p-stepper .p-stepper-header .p-stepper-action .p-stepper-number {
    color: white;
    border: 1px solid #f3f4f6;
    border-width: 2px;
    background: green;
  }

}

.flex {
    display: flex;
    padding: 4px;
    &.justify-content-between {
        justify-content: space-between;
    }
    &.justify-content-start {
        justify-content: start;
    }
    &.justify-content-end {
        justify-content: end;
    }
}
