<form action="" [formGroup]="userInfoForm">
    <div>
    <div>{{ this.userInfoForm.get('basicInfo')?.valid | json }}</div>
        
        {{ this.userInfoForm.get('basicInfo')?.value | json }}</div>
    <p-stepper>
        <p-stepperPanel header="Basic Info">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                <div class="flex flex-column">
                    <!-- BasicInfo component -->
                    <app-basic-info [userInfo]="userInfo" (lastElementBlur)="onLastElementBlur($event)"></app-basic-info>
                </div>
                <div class="flex pt-4 justify-content-end" #nextBtn>
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="More Details">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                <div class="flex flex-column">
                    <!--MoreInfo component -->
                    <app-more-info [userInfo]="userInfo"></app-more-info>
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" /></div
            ></ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Review">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                <div class="flex flex-column">
                    <!--Review component -->
                    <app-review-info />
                </div>
                <div class="flex pt-4 justify-content-start">
                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" /></div
            ></ng-template>
        </p-stepperPanel>
    </p-stepper>
</form>
<!-- <div>{{ userInfoForm.value | json }}</div> -->