@import './../../../../variables.scss';
:host ::ng-deep {
    .p-datepicker-trigger {
        background: $primary !important;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight {
        background-color: $primary !important;
        background: $primary !important;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight {
        background-color: $primary !important;
        background: $primary !important;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
        background-color: $primary !important;
        background: $primary !important;
    }

    .p-button {
        padding: 15px 0.2rem;
    }
}

.container {
    position: relative;
    display: grid !important;
    grid-template-columns: 33% auto auto;
    row-gap: 16px;
    column-gap: 20px;
    padding: 10px;
}
 
.gender-container {
    display: flex;
    gap: 20px;
}