<div
  formGroupName="moreInfo"
  class=""
>
  <div class="container card p-fluid flex flex-wrap gap-3">
    <div class="flex-auto">
        <span class="font-bold block mb-2">House Name</span>
        <input type="text" pInputText formControlName="houseName" />
    </div>
    <div class="flex-auto">
        <span class="font-bold block mb-2">Temple Name</span>
        <input type="text" pInputText formControlName="temple" />
    </div>
    <div class="flex-auto">
        <span class="font-bold block mb-2">Branch Name</span>
        <input type="text" pInputText formControlName="branch" />
    </div>
    <div class="flex-auto">
        <span class="font-bold block mb-2">Dosham</span>
        <p-multiSelect
          [options]="doshams"
          formControlName="dosham"
          placeholder="Select Dosham"
          optionLabel="name"
          display="chip"
          [showClear]="true"
        />
    </div>
    <div class="flex-auto">
        <span class="font-bold block mb-2">Female God</span>
        <input type="text" pInputText formControlName="femaleGod" />
    </div>
    <div class="flex-auto">
        <span class="font-bold block mb-2">Native place</span>
        <input type="text" pInputText formControlName="nativePlace" />
    </div>
    <div class="flex-auto">
        <span class="font-bold block mb-2">Current place</span>
        <input type="text" pInputText formControlName="currentPlace" />
    </div>
    <div class="flex-auto">
      <span class="font-bold block mb-2">Marrital Status</span>
      <p-selectButton
        [options]="marritalStatusOption"
        formControlName="marritalStatus"
        optionLabel="label"
        class="marrital-status"
        optionValue="value"
      >
      </p-selectButton>
    </div>
  </div>
  <div class="container card describe">
    <span class="font-bold block mb-2">Photo (size info max of 2 MB)</span>
    <input type="file" id="imageFile" (change)="onFileChanged($event)" name="imageFile" />
  </div>
  <div class="container card describe">
    <span class="font-bold block mb-2">Details</span>
    <textarea type="text" pInputText formControlName="details"></textarea>
  </div>
</div>
